  <div class="alert alert-info">
  –ü—Ä–∏–≤–µ—Ç, –ö–∏—Ä–∏–ª–ª! –ú–µ–Ω—è –∑–æ–≤—É—Ç –°–≤–µ—Ç–ª–∞–Ω–∞ –∏ —è –±—É–¥—É –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç. –ú–æ—è –æ—Å–Ω–æ–≤–Ω–∞—è —Ü–µ–ª—å ‚Äî –Ω–µ —É–∫–∞–∑–∞—Ç—å –Ω–∞ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–µ —Ç–æ–±–æ—é –æ—à–∏–±–∫–∏, –∞ –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å–≤–æ–∏–º –æ–ø—ã—Ç–æ–º –∏ –ø–æ–º–æ—á—å —Ç–µ–±–µ. –ü—Ä–µ–¥–ª–∞–≥–∞—é –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´—Ç—ã¬ª. –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ —É–¥–æ–±–Ω–æ - –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø–µ—Ä–µ–π–¥–µ–º –Ω–∞ ¬´–≤—ã¬ª.

  <div class="alert alert-success">
  <b>üëç –£—Å–ø–µ—Ö:</b> –ó–µ–ª—ë–Ω—ã–º —Ü–≤–µ—Ç–æ–º –æ—Ç–º–µ—á–µ–Ω—ã —É–¥–∞—á–Ω—ã–µ –∏ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –æ–ø–∏—Ä–∞—Ç—å—Å—è –≤ –±—É–¥—É—â–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö.
  </div>
  <div class="alert alert-warning">
  <b>ü§î –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è:</b> –ñ—ë–ª—Ç—ã–º —Ü–≤–µ—Ç–æ–º –≤—ã–¥–µ–ª–µ–Ω–æ —Ç–æ, —á—Ç–æ –≤ —Å–ª–µ–¥—É—é—â–∏–π —Ä–∞–∑ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ-–¥—Ä—É–≥–æ–º—É. –¢—ã –º–æ–∂–µ—à—å —É—á–µ—Å—Ç—å —ç—Ç–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –±—É–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π –∏–ª–∏ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–æ–µ–∫—Ç —Å–µ–π—á–∞—Å (–æ–¥–Ω–∞–∫–æ —ç—Ç–æ –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ).
  </div>
  <div class="alert alert-danger">
  <b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –ö—Ä–∞—Å–Ω—ã–º —Ü–≤–µ—Ç–æ–º –≤—ã–¥–µ–ª–µ–Ω—ã –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –±–µ–∑ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è –∫–æ—Ç–æ—Ä—ã—Ö, —è –Ω–µ —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç :(
  </div>
  <div class="alert alert-info">
  <b>üëÇ –°–æ–≤–µ—Ç:</b> –ö–∞–∫–∏–µ-—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –º–∞—Ç–µ—Ä–∏–∞–ª—ã
  </div>
  –î–∞–≤–∞–π —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —Ç—ã —á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å –≤ –ø—Ä–æ–µ–∫—Ç–µ –ø–æ –º–æ–∏–º —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º.
  –ú–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:
  <div class="alert alert-info"> <b>üéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>
  –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏. –í—Å—ë —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –±—ã—Å—Ç—Ä–µ–µ.
   </div>

# –ü—Ä–æ–µ–∫—Ç –ø–æ SQL

<div style="border:solid Purple 2px; padding: 40px" > 
    
<u><b> –û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞:</b></u>
    
–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –ù–∞ –∫–∞–∫–æ–µ-—Ç–æ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –ø–µ—Ä–µ—Å—Ç–∞–ª–∏ –≤—ã—Ö–æ–¥–∏—Ç—å –Ω–∞ —É–ª–∏—Ü—É, –ø–æ—Å–µ—â–∞—Ç—å –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.
–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í–∞—à–∞ –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö.
–í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.
    
<u><b> –ó–∞–¥–∞—á–∏:</b></u>    

<li>–ü–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;</li>
<li>–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;</li>
<li>–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;</li>
<li>–û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;</li>
<li>–ü–æ—Å—á–∏—Ç–∞–π—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.</li>
    
<u><b>–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö</b></u> 

–¢–∞–±–ª–∏—Ü–∞ books 

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

<li>book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;</li>
<li>author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;</li>
<li>title ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;</li>
<li>num_pages ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;</li>
<li>publication_date ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;</li>
<li>publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.</li>
    
    
–¢–∞–±–ª–∏—Ü–∞ authors

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

<li>author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;</li>
<li>author ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.</li>
    
–¢–∞–±–ª–∏—Ü–∞ publishers

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

<li>publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;</li>
<li>publisher ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;</li>
    
–¢–∞–±–ª–∏—Ü–∞ ratings

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

<li>rating_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;</li>
<li>book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;</li>
<li>username ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;</li>
<li>rating ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.</li>
–¢–∞–±–ª–∏—Ü–∞ reviews

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

<li>review_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;</li>
<li>book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;</li>
<li>username ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;</li>
<li>text ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.</li>

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from IPython.display import display
from sqlalchemy import text, create_engine

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas
query = '''SELECT * FROM books LIMIT 5'''
con=engine.connect()
pd.io.sql.read_sql(sql=text(query), con = con)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [3]:
def q_exec(query='SELECT version()', show=False):
    '''
    –§—É–Ω–∫—Ü–∏—è –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∑–∞–ø—Ä–æ—Å –Ω–∞ —è–∑—ã–∫–µ sql –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –æ–±—ä–µ–∫—Ç —Ç–∏–ø–∞ pandas DataFrame
    ## Parameters:
    `query` - –∑–∞–ø—Ä–æ—Å –≤ –≤–∏–¥–µ —Å—Ç—Ä–æ–∫–∏. –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é "SELECT version()"
    `show` - –≤—ã–≤–µ—Å—Ç–∏ —Å—Ä–∞–∑—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç –Ω–∞ —ç–∫—Ä–∞–Ω –±–µ–∑ –ø—Ä–∏—Å–≤–∞–∏–≤–∞–Ω–∏—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ —Ä–∞–±–æ—Ç—ã —Ñ—É–Ω–∫—Ü–∏–∏ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π, –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é `False`
    '''
    if show:
        return display(pd.io.sql.read_sql(query, con = engine))
    else:
        return pd.io.sql.read_sql(query, con = engine)

In [4]:
# –Ω–∞–ø–∏—à–µ–º —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è —Å–±–æ—Ä–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ

def df_info(df=pd.DataFrame()):
    '''
    –§—É–Ω–∫—Ü–∏—è –≤—ã–≤–æ–¥–∏—Ç –Ω–∞ —ç–∫—Ä–∞–Ω 5 —Å–ª—É—á–∞–π–Ω—ã—Ö —Å—Ç—Ä–æ–∫ –∏ 
    –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ
    ## Parameters:
    `df` - –æ–±—ä–µ–∫—Ç pandas.DataFrame
    '''
    display(df.sample(5))
    print('-----------')
    print(df.info(), '–Ø–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ - ', df.duplicated().sum())

In [5]:
# —Ç–∞–±–ª–∏—Ü–∞ books
books_query = 'SELECT * FROM books'

df_info(q_exec(books_query))

,book_id,author_id,title,num_pages,publication_date,publisher_id
356,357,314,Into Thin Air: A Personal Account of the Mount...,368,1999-10-19,16
508,509,117,Peter and the Starcatchers (Peter and the Star...,452,2006-05-01,92
723,724,505,The Fires of Heaven (The Wheel of Time #5),912,1994-07-04,198
449,450,590,Mountains Beyond Mountains: The Quest of Dr. P...,333,2004-08-31,242
369,370,631,Julius Caesar,128,2002-10-17,204

-----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           1000 non-null   int64
 1   author_id         1000 non-null   int64
 2   title             1000 non-null   object
 3   num_pages         1000 non-null   int64
 4   publication_date  1000 non-null   object
 5   publisher_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB
None –Ø–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ -  0

 <div class="alert alert-danger">
 <s><b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –§—É–Ω–∫—Ü–∏—è –≤—ã–≤–æ–¥–∞ –∑–∞–ø—Ä–æ—Å–∞ –∫—É–¥–∞ —Ç–æ –ø—Ä–æ–ø–∞–ª–∞ –∏ —Ç–µ—Ç—Ä–∞–¥–∫–∞ –Ω–µ –∑–∞–ø—É—Å–∫–∞–µ—Ç—Å—è</s>
 </div>

<div class="alert alert-info"> <b>üéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ó–∞–º–µ—á–∞–Ω–∏–µ —É—Å—Ç—Ä–∞–Ω–µ–Ω–æ.</div>

In [6]:
# —Ç–∞–±–ª–∏—Ü–∞ authors
authors_query = 'SELECT * FROM authors'

df_info(q_exec(authors_query))

     author_id              author
618        619      William Gibson
527        528        Sarah Dessen
245        246  Jacquelyn Mitchard
280        281       Jen Lancaster
136        137         Donna Tartt

-----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author_id  636 non-null    int64
 1   author     636 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.1+ KB
None –Ø–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ -  0

In [7]:
# —Ç–∞–±–ª–∏—Ü–∞ publishers
publishers_query = 'SELECT * FROM publishers'

df_info(q_exec(publishers_query))

     publisher_id                   publisher
263           264                   Shambhala
254           255             Scholastic Inc.
335           336  Workman Publishing Company
21             22             Arrow Books Ltd
89             90               Digireads.com

-----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher_id  340 non-null    int64
 1   publisher     340 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.4+ KB
None –Ø–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ -  0

In [8]:
# —Ç–∞–±–ª–∏—Ü–∞ ratings
ratings_query = 'SELECT * FROM ratings'

df_info(q_exec(ratings_query))

      rating_id  book_id        username  rating
6353       6354      976         dharris       5
5045       5046      779        lorichen       5
3219       3220      505  carolrodriguez       3
5409       5410      837    fieldsangela       4
6186       6187      948     brentpowers       5

-----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6456 entries, 0 to 6455
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rating_id  6456 non-null   int64
 1   book_id    6456 non-null   int64
 2   username   6456 non-null   object
 3   rating     6456 non-null   int64
dtypes: int64(3), object(1)
memory usage: 201.9+ KB
None –Ø–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ -  0

In [9]:
# —Ç–∞–±–ª–∏—Ü–∞ reviews
reviews_query = 'SELECT * FROM reviews'

df_info(q_exec(reviews_query))

,review_id,book_id,username,text
2338,2337,839,fharris,Method much plant simply. Go challenge word tend.
1822,1821,659,kristykirby,Guy company spend light fly recognize. Phone m...
1122,1123,413,ryan01,Black indicate new meeting. Down relationship ...
2197,2197,792,richard89,Apply own radio phone do couple speech. Pm wha...
1138,1138,417,robertwells,Admit leave time just rise. Son nothing gun. T...

-----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2793 entries, 0 to 2792
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review_id  2793 non-null   int64
 1   book_id    2793 non-null   int64
 2   username   2793 non-null   object
 3   text       2793 non-null   object
dtypes: int64(2), object(2)
memory usage: 87.4+ KB
None –Ø–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ -  0

<div style="background-color:aliceblue;padding:25px;">¬†–ü—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—ã–π –≤—ã–≤–æ–¥:
–≤ –Ω–∞—à–µ–º —Ä–∞—Å–ø–æ—Ä—è–∂–µ–Ω–∏–∏ 5 —Ç–∞–±–ª–∏—Ü:
<li>books - 1000 –∫–Ω–∏–≥, —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –æ–ø—Ä–µ–¥–µ–ª–Ω–∏—é (–∫—Ä–æ–º–µ publication_date)</li>
<li>authors - 636 –∞–≤—Ç–æ—Ä–æ–≤ –∫–Ω–∏–≥</li>
<li>publishers - 340 –∏–∑–¥–∞—Ç–µ–ª–µ–π</li>
<li>ratings - 6456 –æ—Ü–µ–Ω–æ–∫ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π</li>
<li>reviews - 2793 –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞</li>
<li>–ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ —è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –Ω–µ—Ç.</li>

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –ï—Å—Ç—å –æ–ø–∏—Å–∞–Ω–∏–µ –∑–∞–¥–∞—á–∏, –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω—ã –≤—Å–µ –Ω—É–∂–Ω—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏, —Å–æ–∑–¥–∞–Ω–æ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î, –ø—Ä–æ—Å–º–æ—Ç—Ä–µ–Ω—ã —Ç–∞–±–ª–∏—Ü—ã
 </div>

## –ü–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∫–Ω–∏–≥, –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [10]:
q1 = '''
        SELECT count(book_id) 
        FROM books WHERE publication_date > '2000-01-01';
    '''

answer_1 = q_exec(q1)

answer_1 = int(answer_1.values[0])

answer_1

819

<div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

## –ü–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏

In [11]:
q2 = '''
        WITH
                reviews_qty
        AS

        (SELECT DISTINCT
                b.title,
                b.book_id,
                COUNT(rw.review_id) AS review_qty
                
        FROM books b
            LEFT JOIN reviews rw
            USING(book_id)
  
        GROUP BY b.title, b.book_id
        ORDER BY 2 desc)

        SELECT  
                rq.title,
                rq.review_qty,
                AVG(r.rating)
        FROM reviews_qty rq
        LEFT JOIN ratings r
        USING(book_id)
        GROUP BY rq.title, rq.review_qty
        ORDER BY 2 desc
'''

answer_2 = q_exec(q2)

answer_2.head()

                                               title  review_qty       avg
0                            Twilight (Twilight  #1)           7  3.662500
1                The Hobbit  or There and Back Again           6  4.125000
2  Harry Potter and the Chamber of Secrets (Harry...           6  4.287500
3                                    Eat  Pray  Love           6  3.395833
4  The Lightning Thief (Percy Jackson and the Oly...           6  4.080645

–ë–æ–ª—å—à–µ –≤—Å–µ–≥–æ –æ–±–∑–æ—Ä–æ–≤ –ø–æ–ª—É—á–∏–ª–∞ –∫–Ω–∏–≥–∞ Twilight (Twilight #1) ‚Äî 7 —à—Ç—É–∫, –∞ –≤–æ—Ç —Ä–µ–π—Ç–∏–Ω–≥ —É –Ω–µ–µ ‚Äî 3.66/10.

 <div class="alert alert-warning">
 <b>ü§î –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è:</b> –í—ã–≤–æ–¥–∏—Ç—å –Ω—É–∂–Ω–æ –ø–æ–ª–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø—Ä–æ—Å–∞, –∞ –Ω–µ —á–∞—Å—Ç–∏—á–Ω–æ
 </div>

## –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

In [12]:
q3 = '''
        SELECT
                p.publisher,
                COUNT(p.publisher_id) AS publisher_qty
                
        FROM books b
            LEFT JOIN publishers p
            USING(publisher_id)
            
        WHERE
                b.num_pages > 50
                
        GROUP BY p.publisher_id
        ORDER BY 2 DESC
        LIMIT 1;      
'''

answer_3 = q_exec(q3)

answer_3 = answer_3['publisher'].values[0]

answer_3

'Penguin Books'

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

## –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ - —É—á–∏—Ç—ã–≤–∞—é—Ç—Å—è —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

In [16]:
q4 = '''
        SELECT
                a.author,
                AVG(rating) AS average_rating
                
        FROM books b
            LEFT JOIN authors a
            USING(author_id)
            LEFT JOIN ratings r
            USING(book_id)   
             
        GROUP BY a.author
        HAVING COUNT(book_id) > 50
        ORDER BY 2 DESC
        LIMIT 100
'''

answer_4 = q_exec(q4)

answer_4 = answer_4['author'].values[0]

answer_4

'J.K. Rowling/Mary GrandPr√©'

In [15]:
q4 = '''WITH book_ratings AS (SELECT r.book_id,
                                        AVG(r.rating) AS avg_rating,
                                        COUNT(r.rating) AS total_ratings
                                 FROM ratings r
                                 GROUP BY r.book_id
                                 HAVING COUNT(r.rating) >= 50),
           author_average_ratings AS (SELECT a.author_id,
                                             SUM(br.total_ratings) AS total_ratings,
                                             AVG(br.avg_rating) AS avg_rating
                                      FROM authors a
                                      JOIN books b ON a.author_id = b.author_id
                                      JOIN book_ratings br ON b.book_id = br.book_id
                                      GROUP BY a.author_id)
           SELECT a.author,
                  aar.total_ratings,
                  aar.avg_rating
           FROM authors a
           JOIN author_average_ratings aar ON a.author_id = aar.author_id
           ORDER BY aar.avg_rating DESC
           LIMIT 1'''
answer_4 = q_exec(q4)

answer_4 = answer_4['author'].values[0]

answer_4

'J.K. Rowling/Mary GrandPr√©'

 <div class="alert alert-danger">
<s> <b>üòî –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å:</b> –ü–æ–ª—É—á–∏–ª–æ—Å—å –Ω–µ —Å–æ–≤—Å–µ–º –≤–µ—Ä–Ω–æ, —Ç—ã –Ω–µ —É—á–∏—Ç—ã–≤–∞–µ—à—å –∫–Ω–∏–≥–∏, –≥–¥–µ —Ä–æ–≤–Ω–æ 50 –æ—Ü–µ–Ω–æ–∫, –∏ —Ñ–∏–ª—å—Ç—Ä HAVING –ø—Ä–∏–∑–≤–∞–Ω –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –∫–Ω–∏–≥–∏ —Å –æ—Ü–µ–Ω–∫–∞–º–∏ 50 –∏ –±–æ–ª–µ–µ, –∞ –¥–∞–Ω–Ω—ã–µ —Ç—ã –≥—Ä—É–ø–ø–∏—Ä—É–µ—à—å –ø–æ –∞–≤—Ç–æ—Ä—É. –í –∏—Ç–æ–≥–µ —Ñ–∏–ª—å—Ç—Ä —Ñ–∏–ª—å—Ç—Ä—É–µ—Ç –Ω–µ –∫–Ω–∏–≥–∏, –∞ –∞–≤—Ç–æ—Ä–æ–≤, –∏ –≤ —Ç–∞–∫–æ–π –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–µ –ø–æ—á—Ç–∏ —É –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞ –±—É–¥–µ—Ç 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫, –ø–æ—ç—Ç–æ–º—É —Ä–µ–π—Ç–∏–Ω–≥ –±—É–¥–µ—Ç —Ä–∞—Å—Å—á–∏—Ç–∞–Ω –Ω–µ–≤–µ—Ä–Ω–æ - –≤ –Ω–µ–≥–æ –ø–æ–ø–∞–¥—É—Ç –ª–∏—à–Ω–∏–µ –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –ø—Ä–æ—Ö–æ–¥—è—Ç –ø–æ —É—Å–ª–æ–≤–∏—é —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ü–µ–Ω–æ–∫</s>
 </div>

<div class="alert alert-info"> <b>üéì –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ó–∞–º–µ—á–∞–Ω–∏–µ —É—Å—Ç—Ä–∞–Ω–µ–Ω–æ. –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏): J.K. Rowling</div>

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

## –ü–æ–¥—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫

In [14]:
q5 = '''
        WITH 
        
        users_above_48_rates AS
        
        (SELECT
                r.username,
                COUNT(r.username)
        FROM
                ratings r
        LEFT JOIN books b
        USING(book_ID)
        GROUP BY r.username
        HAVING COUNT(r.username) > 48)

        SELECT 
                COUNT(username) / COUNT(DISTINCT username)
        
        FROM users_above_48_rates ur
                
        LEFT JOIN reviews rw
        USING(username)
             
'''

answer_5 = q_exec(q5)

answer_5 = int(answer_5.values[0])

answer_5

24

 <div class="alert alert-success">
 <b>üëç –£—Å–ø–µ—Ö:</b> –í—Å–µ –≤–µ—Ä–Ω–æ!
 </div>

## –í—ã–≤–æ–¥—ã

–ú—ã –∑–∞–≥—Ä—É–∑–∏–ª–∏ –¥–∞–Ω–Ω—ã–µ –∫–∞–∂–¥–æ–π –∏–∑ —Ç–∞–±–ª–∏—Ü, —Å–¥–µ–ª–∞–ª–∏ SQL-–∑–∞–ø—Ä–æ—Å—ã –∏ –ø–æ–ª—É—á–∏–ª–∏ –æ—Ç–≤–µ—Ç—ã –Ω–∞ 5 –≤–æ–ø—Ä–æ—Å–æ–≤.

–û–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö:

–≤ –Ω–∞—à–µ–º —Ä–∞—Å–ø–æ—Ä—è–∂–µ–Ω–∏–∏ 5 —Ç–∞–±–ª–∏—Ü:
<li>books - 1000 –∫–Ω–∏–≥, —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –æ–ø—Ä–µ–¥–µ–ª–Ω–∏—é (–∫—Ä–æ–º–µ publication_date)</li>
<li>authors - 636 –∞–≤—Ç–æ—Ä–æ–≤ –∫–Ω–∏–≥,</li>
<li>publishers - 340 –∏–∑–¥–∞—Ç–µ–ª–µ–π,</li>
<li>ratings - 6456 –æ—Ü–µ–Ω–æ–∫ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π,</li>
<li>reviews - 2793 –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞.</li>
<li>–ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ —è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –Ω–µ—Ç.</li>

–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∫–∞–∂–¥–æ–π –∑–∞–¥–∞—á–∏:
<li>819 –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞,</li>
<li>–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ —Ö—Ä–∞–Ω–∏—Ç—Å—è –≤ —Ñ—Ä–µ–π–º–µ answer_2, –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –æ–±–∑–æ—Ä–æ–≤ –ø–æ–ª—É—á–∏–ª–∞ –∫–Ω–∏–≥–∞ Twilight (Twilight #1) ‚Äî 7 —à—Ç—É–∫, –∞ –≤–æ—Ç —Ä–µ–π—Ç–∏–Ω–≥ —É –Ω–µ–µ ‚Äî 3.7/10.</li>
<li>Penguin Books - –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü,</li>
<li>J.K. Rowling/Mary GrandPr√© - –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—É—á–∏—Ç—ã–≤–∞–ª–∏—Å—å —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏),</li>
<li>24 - —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.</li>

<div class="alert alert-success">
<b>üëç –£—Å–ø–µ—Ö:</b> –•–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞, –ø–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –æ–∫–æ–Ω—á–∞–Ω–∏–µ–º –∫—É—Ä—Å–∞! –†–µ–∫–æ–º–µ–Ω–¥—É—é –µ—â–µ –ø—Ä–æ–π—Ç–∏ –±–µ—Å–ø–ª–∞—Ç–Ω—ã–π –∫—É—Ä—Å –æ—Ç –ø—Ä–∞–∫—Ç–∏–∫—É–º–∞ –ø–æ <a href='https://practicum.yandex.ru/ycloud-datalens/'> DataLens</a>
   –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –ø–æ SQL  –º–æ–∂–Ω–æ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –∏ –ø–æ—Ç—Ä–µ–Ω–∏—Ä–æ–≤–∞—Ç—å—Å—è <a href='https://sql-ex.ru'> –∑–¥–µ—Å—å</a>, <a href='https://pgexercises.com'> –∑–¥–µ—Å—å</a>, <a href='https://sql-academy.org'> –∑–¥–µ—Å—å</a>, <a href='https://stepik.org/course/63054/info'> –∑–¥–µ—Å—å</a>, <a href='https://Itresume.ru'> –∑–¥–µ—Å—å</a>
</div>